<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{ENGINE_META:DESCRIPTION}">
        <meta name="keywords" content="{ENGINE_META:KEYWORDS}">
        <title>Ошибка компиляции тегов - {SITE_NAME}</title>
        <link href="{SITE_DOMAIN}/css/main/error-style.css" rel="stylesheet" type="text/css">
        <link href="{SITE_DOMAIN}/libs/bootstrap/css/bootstrap.css">
        <link href="{SITE_DOMAIN}/libs/bootstrap/css/bootstrap.min.css">
        <link href="{SITE_DOMAIN}/images/icon" rel="icon">
        <script src="{SITE_DOMAIN}/libs/js/jquery-3.1.0.min.js"></script>
        <script src="{SITE_DOMAIN}/libs/bootstrap/js/bootstrap.js"></script>
        <script src="{SITE_DOMAIN}/libs/codemirror/v6/codemirror.js" type="module" rel="prefetch"></script>
    </head>
    <body>
        <div class="fc-tip-hint hidden">
            {ERROR_MANAGER:FUNCTION_TIP}
            <div class="triangle-cursor"></div>
        </div>
        <div class="general-container">
            <div class="header">
                <h1>Таверна Тонисфели</h1>
                <p>Обработчик ошибок компиляции тегов</p>
            </div>
                <div class="error-code-analyzator" id="error-code-analyzator-textarea">
                <p class="helper">Выполняемый код:</p>
                <textarea id="error-code-textarea">{ERROR_MANAGER:CODE}</textarea>
            </div>
            <div>
                <p>К сожалению, не все служебные теги были обработаны. Были найдены следующие необработанные теги:</p>
                <div>
                    <p>Служебные теги:</p>
                    <ul>
                        {SYSTEM_TAGS_LIST}
                    </ul>
                </div>
                <div>
                    <p>Обрабатывающие теги:</p>
                    <ul>
                        {SERVICE_TAGS_LIST}
                    </ul>
                </div>
                <div>
                    <p>HTML-подобные теги:</p>
                    <ul>
                        {HTML_TAGS_LIST}
                    </ul>
                </div>
            </div>
        </div>
        <script type="module" src="{SITE_DOMAIN}/js/main/errors/codemirror.js" rel="prefetch"></script>
        <script type="module">
            import { changeText } from "{SITE_DOMAIN}/js/main/errors/codemirror.js";
            changeText("123");
        </script>
        <script type="text/javascript">
            var hint = document.querySelector(".fc-tip-hint"),
                phpDocExists = hint.textContent.trim().length != 0;

            if (phpDocExists) {
                $("span.fc-help-tip").on("mouseleave", function () {
                    $(hint).fadeOut(200);
                });
                $("span.fc-help-tip").on("mouseenter", function () {
                    $(hint).fadeIn(200);

                    hint.style.top = (this.getBoundingClientRect().top
                        - hint.getBoundingClientRect().height
                        - parseInt($(this).css("padding-top").split("px")[0]) - 5) + "px";
                    hint.style.left = (this.getBoundingClientRect().left + this.getBoundingClientRect().width / 2 - hint.getBoundingClientRect().width / 2) + "px";
                });
            } else {
                $("span.fc-help-tip").removeClass("fc-help-tip");
            }

            $("div.div-spoiler div.spoiler-header").on("click", function() {
                $("div.div-spoiler div.spoiler-body").slideToggle(300);
            });
        </script>
    </body>
</html>