<form method="post" action="./site/scripts/activator.php">
    <div id="profile-activate-form">
        <p>Введите код активации, который был выслан Вам на email. Вы также можете активировать
            Ваш профиль, перейдя по ссылке, которая была приложена в высланном письме.</p>
        <input class="profile-input" name="profile-activation-code-input" placeholder="Код активации">
        <div class="profile-btn-group">
            <button type="submit" name="profile-activation-code-send-btn">Активировать</button>
            <button type="submit" name="profile-activation-cancel-btn">Отмена</button>
        </div>
    </div>
</form>