<div id="profile-profile-panels">
    <div class="center" data-div-title="auth">
        <div class="container-fluid">
            <form method="post" action="../../../scripts/handlers/authorizator.php">
                <div class="center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <input class="profile-input" type="text" name="profile-auth-uid" placeholder="{AUTH_PAGE:UID_INPUT_PLACEHOLDER}">
                        <input class="profile-input" type="password" name="profile-auth-password" placeholder="Пароль">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="profile-btn-group">
                            <button type="submit" name="profile_auth_signin">Войти</button>
                            <button type="button" id="profile_auth_signup">Регистрация</button>
                            <button type="button" id="profile_auth_password_restore">Забыл пароль...</button>
                            <button type="button" id="profile_auth_toindex">На главную</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {AUTH_PAGE:SIGN_UP}
    {AUTH_REMAINDER}
</div>