<!DOCTYPE HTML>
<html lang="ru">
<head>
    {ADMINPANEL_HEAD}
</head>
<body>
    {ADMINPANEL_UPLOADER}
    <div id="tooltip"></div>
    <div class="wrapper">
        <div class="container">
            {ADMINPANEL_NAVBAR}
            <div class="jumbotron" id="jumbotron">
                <h1>{ADMINPANEL_HEADER}</h1>
                <p>{ADMINPANEL_HEADER_INFO}</p>
            </div>
        </div>
        <div class="divider_header"> </div>
        <br>
        <div class="container-fluid">
            {ADMINPANEL_ERRORS}
            {ADMINPANEL_CONTENT}
        </div>
    </div>
    {ADMINPANEL_FOOTER}
</body>
</html>

