<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{ADMINPANEL_TITLE}</title>
<script src="libs/js/ie-emulator.js"></script>
<script src="libs/js/jquery-3.1.0.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<link href="libs/bootstrap/css/ie10-viewport.css" rel="stylesheet">
<link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="libs/bootstrap/css/glyphicons-regular.css" rel="stylesheet">
<link rel="stylesheet" href="libs/codemirror/lib/codemirror.css">
<link href="adminpanel/templates/Tonisfel/css/ap-style.css" rel="stylesheet">
<link href="adminpanel/templates/Tonisfel/css/uploader-style.css" rel="stylesheet">
<link href="libs/bubblemenu/popup.css" rel="stylesheet">
<link href="adminpanel/templates/Tonisfel/css/icon.ico" rel="icon">
{PLUGINS_STYLESHEETS}
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<script src="libs/codemirror/lib/codemirror.js"></script>
<script src="libs/codemirror/mode/javascript/javascript.js"></script>
<script src="libs/codemirror/mode/xml/xml.js"></script>
<script src="libs/codemirror/mode/css/css.js"></script>
<script src="libs/codemirror/mode/php/php.js"></script>
<script src="libs/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="libs/codemirror/mode/clike/clike.js"></script>
<script src="libs/bubblemenu/bubbletooltip.js"></script>
{PLUGIN_HEAD_JS}
{ADMINPANEL_STATICC_STYLESHEET}