<form action="site/scripts/topicer.php" method="post">
    <h3><span class="glyphicons glyphicons-edit"></span> Редактирование комментария</h3>
    {COMMENT_ERRORS}
    <hr>
    <input type="hidden" value="{COMMENT_ID}" name="comment-edit-id">
    <div class="btn-group">
        <button class="btn btn-default" title="Выделить жирным" type="button" onclick="insertBBCode('b', false, document.getElementById('comment-content-textarea'));"><strong>B</strong></button>
        <button class="btn btn-default" title="Курсив" type="button" onclick="insertBBCode('i', false, document.getElementById('comment-content-textarea'));"><em>I</em></button>
        <button class="btn btn-default" title="Подчёркивание" type="button" onclick="insertBBCode('u', false, document.getElementById('comment-content-textarea'));"><ins>U</ins></button>
        <button class="btn btn-default" title="Перечеркнуть" type="button" onclick="insertBBCode('s', false, document.getElementById('comment-content-textarea'));"><s>S</s></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" title="Выровнять влево" type="button" onclick="insertBBCode('align=left', 'align', document.getElementById('comment-content-textarea'));"><span class="glyphicon glyphicon-align-left"></span></button>
        <button class="btn btn-default" title="Выровнять по центру" type="button" onclick="insertBBCode('align=center', 'align', document.getElementById('comment-content-textarea'));"><span class="glyphicon glyphicon-align-center"></span></button>
        <button class="btn btn-default" title="Выровнять вправо" type="button" onclick="insertBBCode('align=right', 'align', document.getElementById('comment-content-textarea'));"><span class="glyphicon glyphicon-align-right"></span></button>
    </div>
    <div class="btn-group">
        <select class="btn btn-default" title="Цвет шрифта" id="comment-text-font-filler">
            <option value="black" style="color: black;">Чёрный</option>
            <option value="red" style="color: red;">Красный</option>
            <option value="green" style="color: green;">Зелёный</option>
            <option value="yellow" style="color: yellow;">Жёлтый</option>
            <option value="orange" style="color: orange;">Оранжевый</option>
            <option value="blue" style="color: blue;">Синий</option>
            <option value="grey" style="color: grey;">Серый</option>
            <option value="darkgrey" style="color: #545454;">Тёмносерый</option>
            <option value="white" style="color: white; text-shadow: 1px 1px 1px black;">Белый</option>
        </select>
        <select class="btn btn-default" title="Размер шрифта" id="comment-text-font-sizer">
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
        </select>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" title="Вставить ролик YouTube" type="button" onclick="insertBBCode('youtube=', true, document.getElementById('comment-content-textarea'));"><span class="glyphicon glyphicon-play btn-youtube"></span></button>
        <button class="btn btn-default" title="Вставить картинку" type="button" onclick="insertBBCode('img=', true, document.getElementById('comment-content-textarea'));"><span class="glyphicon glyphicon-picture"></span></button>
        <button class="btn btn-default" title="Загрузить файл" type="button" onclick="$('#uploader-main').show();"><span class="glyphicon glyphicon-upload"></span> Загрузить файл</button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" title="Вставить разделитель" type="button" onclick="insertBBCode('hr', true, document.getElementById('comment-content-textarea'));"><span class="glyphicons glyphicons-vector-path-line"></span></button>
        <button class="btn btn-default" title="Спойлер" type="button" onclick="insertBBCode('spoiler', false, document.getElementById('comment-content-textarea'));"><span class="glyphicons glyphicons-note-empty"></span></button>
        <button class="btn btn-default" title="Цитата" type="button" onclick="insertBBCode('quote', 'quote', document.getElementById('comment-content-textarea'));"><span class="glyphicons glyphicons-user-conversation"></span></button>
    </div>
    <textarea class="form-control non-resize" id="comment-content-textarea" name="comment-content-textarea" placeholder="Текст Вашего комментария.">{COMMENT_TEXT}</textarea>
    <hr>
    <div class="input-group">
        <div class="input-group-addon">Причина редактирования:</div>
        <input class="form-control" type="text" name="comment-edit-reason">
        <div class="alert alert-info"><span class="glyphicons glyphicons-info-sign"></span> Поле не обязательно к заполнению.</div>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" type="submit" name="comment-edit-btn"><span class="glyphicons glyphicons-edit"></span> Сохранить комментарий</button>
        <button class="btn btn-default" type="button" id="comment-preview-btn"><span class="glyphicons glyphicons-eye-open"></span> Предварительный просмотр</button>
    </div>
    <hr>
    <div id="newcomment-preview" hidden>

    </div>
</form>
<script type="text/javascript">
    function insertBBCode(openTag, notNeedClose = false, texterElement = null){
        if (texterElement == null)
            var texter = document.getElementById("report-add-message");
        else
            var texter = texterElement;
        startText = texter.value.substring(0, texter.selectionStart);
        endText = texter.value.substring(texter.selectionEnd, texter.value.length);
        tagingText = texter.value.substring(texter.selectionStart, texter.selectionEnd);
        startPos = texter.selectionStart;
        endPos = texter.selectionEnd;
        startText += '[' + openTag + ']';
        if (notNeedClose === false) endText = '[\/' + openTag + ']' + endText;
        if (notNeedClose !== false && notNeedClose !== true) endText = '[\/' + notNeedClose + ']' + endText;
        texter.value = startText + tagingText + endText;
        texter.focus();
        texter.setSelectionRange(startPos + (2 + openTag.length), endPos + (2 + openTag.length));

        //texter.value.insert
    }
    $("button#comment-preview-btn").on("click", function()
    {
        $.ajax({
            url: "/site/scripts/ajax/newcommentpreviewajax.php",
            type: "POST",
            data: "text=" + $("textarea#comment-content-textarea").val(),
            success: function (data) {
                $("div#newcomment-preview").html(data);
                var span = document.createElement("h3");
                $(span).html("Предварительный просмотр");
                $("div#newcomment-preview").prepend(span);
                $("div#newcomment-preview").prepend(document.createElement("hr"));
                $("div#newcomment-preview").show();
                $('html, body').animate({
                    scrollTop: $("div#newcomment-preview").offset().top + 'px'
                }, 'fast');
            }
        });
    });

    $("select#comment-preview-font-filler").on("change", function(){
        insertBBCode("color=" + $(this).val(), "color", document.getElementById("comment-descript-textarea"));
    });
    $("select#comment-preview-font-sizer").on("change", function(){
        insertBBCode("size=" + $(this).val(), "size", document.getElementById("comment-descript-textarea"));
    });
    $("select#comment-text-font-filler").on("change", function(){
        insertBBCode("color=" + $(this).val(), "color", document.getElementById("comment-content-textarea"));
    });
    $("select#comment-text-font-sizer").on("change", function(){
        insertBBCode("size=" + $(this).val(), "size", document.getElementById("comment-content-textarea"));
    });
</script>