<div class="comment-block comment-block-border"
     id="comment-{COMMENT_ID}">
    <div class="comment">
        <form method="post" action="site/scripts/topicer.php">
            <input type="hidden" name="comment-id" value="{COMMENT_ID}">
            <div class="topic-comment-header">
                <a class="comment-id-link" href="#comment-{COMMENT_ID}">#{COMMENT_ID}</a> |
                Создан: {COMMENT_DATETIME_CREATED} |
            </div>
            <div class="topic-comment-author">
                <img class="topic-comment-author-avatar" src="{COMMENT_AUTHOR_AVATAR}">
                <a class="comment-author-nickname" href="profile.php?uid={COMMENT_AUTHOR_ID}"
                   data-comment-id="{COMMENT_ID}">{COMMENT_AUTHOR_NICKNAME}</a>
                <span><a href="?group={COMMENT_AUTHOR_GROUP_ID}" style="color: {COMMENT_AUTHOR_GROUP_COLOR}">{COMMENT_AUTHOR_GROUP_NAME}</a></span>
                Пол: {COMMENT_AUTHOR_SEX}
                Рейтинг: {COMMENT_AUTHOR_REPUTATION}
                Комментариев: {COMMENT_AUTHOR_COMMENTS}
                {COMMENT_AUTHOR_TO_PM}
            </div>
            <div class="topic-comment-body">
                <div class="topic-comment-text">
                    <input type="hidden" data-comment-id="{COMMENT_ID}" value="{COMMENT_BB_TEXT}">
                    {COMMENT_TEXT}
                </div>
                <hr>
                {COMMENT_AUTHOR_SIGNATURE}
            </div>
            <div class="topic-comment-footer">
                {COMMENT_EDIT_INFO}
            </div>
            <div class="topic-comment-btns btn-group">
                {COMMENT_EDIT_BUTTON}
                {COMMENT_QUOTE_BUTTON}
                {COMMENT_DELETE_BUTTON}
            </div>
        </form>
    </div>
</div>
