<div id="profile-pm-read">
    <p class="profile-pm-read-param">Отправитель: <a class="profile-link" href="profile.php?uid={PROFILE_PAGE:USER_PM_FROM}">{PROFILE_PAGE:USER_SENDER_NICKNAME}</a></p>
    <p class="profile-pm-read-param">Получатель: <a class="profile-link" href="profile.php?uid={PROFILE_PAGE:USER_PM_TO}">{PROFILE_PAGE:USER_RECIEVER_NICKNAME}</a></p>
    <p class="profile-pm-read-param">Тема: {PROFILE_PAGE:USER_PM_SUBJECT}</p>
    <p class="profile-pm-read-param">Когда полученно: {PROFILE_PAGE:USER_PM_RECIEVETIME}</p>
    <div class="profile-profile-text">
        {PROFILE_PAGE:USER_PM_TEXT}
    </div>
</div>