<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-footer">
    <p class="footer-info-left">
        Tonisfel Tavern CMS.<br>
        Шаблон - Таверна Тонисфели.<br>
        Создатель - <a href="http://vk.com/tonisfel" title="VK аккаунт">Багданов Илья.</a><br>
        Все права защищены 2020 год. ©. При копировании материалов сайта, ссылка на ресурс обязательна.
    </p>
    <p class="footer-info-right">
        Баннеры:<br/>
        {MAIN_PAGE:FOOTER_FIRST_SMALL_BANNER}
        {MAIN_PAGE:FOOTER_SECOND_SMALL_BANNER}
    </p>
</div>