<div class="main-footer">
    <p class="footer-info-left">
        Tonisfel Tavern CMS.<br>
        Шаблон - Таверна Тонисфели.<br>
        Создатель - <a href="http://vk.com/tonisfel" title="VK аккаунт">Багданов Илья.</a><br>
        Все права защищены ©. При копировании материалов сайта, ссылка на ресурс обязательна.
    </p>
    <p class="footer-info-right">
        Баннеры:<br/>
        <img class="img-smbanner" src="site/templates/Tonisfel/smallbanner.png" title="Это место свободно">
        <img class="img-smbanner" src="site/templates/Tonisfel/smallbanner.png" title="Это место свободно">
    </p>
</div>