<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{INDEX_PAGE_TITLE}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{ENGINE_META:DESCRIPTION}">
    <meta name="keywords" content="{ENGINE_META:KEYWORDS}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{>|libs-path:js/ie-emulator.js}"></script>
    <script src="{>|libs-path:bootstrap/js/bootstrap.min.js}"></script>
    <script src="{>|libs-path:bootstrap/js/bootstrap.bundle.js}"></script>
    <script src="{>|libs-path:bootstrap/js/jquery-ui.min.js}"></script>
    {PLUGIN_HEAD_JS}
    <link href="{>|libs-path:bootstrap/css/ie10-viewport.css}" rel="stylesheet">
    <link href="{>|libs-path:bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link href="{>|libs-path:bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="{>|libs-path:bootstrap/css/glyphicons-regular.css}" rel="stylesheet">
    <link href="{>|libs-path:lightbox/css/lightbox.css}" rel="stylesheet">
    <link href="{>|css-main:ap-style.css}" rel="stylesheet">
    <link href="{>|css-main:sp-style.css}" rel="stylesheet">
    <link href="{>|site-icon}" rel="icon">
    {PLUGINS_STYLESHEETS}
    {PROFILE_UPLOADER:STYLESHEET}
    {METRIC_JS}
</head>
<body class="index-body">
    {PROFILE_UPLOADER_BLOCK}
    <div class="wrapper">
        {INDEX_PAGE_NAVBAR}
        {INDEX_PAGE_HEADER}
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                {INDEX_PAGE_LEFT}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="content-block row">
                    <div class="bgbanner-container">
                        {MAIN_PAGE:FIRST_BIG_BANNER}
                    </div>
                    <hr class="search-separator">
                    {INDEX_MESSAGE_BOX}
                    {INDEX_SEARCHING}
                    {INDEX_CATEGORY_HINT}
                    <div class="news-container">
                        {INDEX_PAGE_MAIN_BLOCK}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                {INDEX_PAGE_RIGHT}
            </div>
        </div>
    </div>
    {INDEX_PAGE_FOOTER}
</body>
<script src="{>|js-default:SpoilerController.js}"></script>
<script src="{>|libs-path:lightbox/js/lightbox.js}"></script>
<script type="text/javascript">
    {PROFILE_UPLOADER:JS}
    {REPORT_PAGE:JS}
    {SPOILER_CONTROLLER:JS}
</script>
{PLUGIN_FOOTER_JS}
</html>