<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="caret"></span>
    <span class="{INDEX_PROFILE_MENU:MAIL_SPAN_CLASS}">{INDEX_PROFILE_MENU:MAIL_SPAN_COUNT}</span>
    {INDEX_PROFILE_MENU:USER_NICKNAME}
</a>
<ul class="dropdown-menu">
    {INDEX_PROFILE_MENU:ADMPANEL_BUTTON}
    <li><a href="{>|profile-page}">Профиль</a></li>
    <li><a href="profile.php?page=pm"><span class="{INDEX_PROFILE_MENU:MAIL_SPAN_CLASS}">{INDEX_PROFILE_MENU:MAIL_SPAN_COUNT}</span> Личные сообщения</a></li>
    <li><a href="profile.php?page=news"><span class="{INDEX_PROFILE_MENU:NOTIF_SPAN_CLASS}">{INDEX_PROFILE_MENU:NOTIF_SPAN_COUNT}</span> Уведомления</a></li>
    <li><a href="?page=newtopic">Создать топик</a></li>
    <li><a href="?page=report">Жалобы</a></li>
    <li><a href="../../scripts/handlers/deauthorizator.php">Выход</a></li>
</ul>