<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
</div>
<form action="/site/scripts/searcher.php" method="post">
    <input type="hidden" id="search-param" name="search-param" value="name">
    <div class="input-group">
        <div class="input-group-btn" id="search-type-btns">
            <button class="btn btn-default active" type="button" title="Поиск по названию или содержанию темы" id="search-by-topic">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default" type="button" title="Поиск по названию опроса" id="search-by-quize">
                <span class="glyphicon glyphicon-signal"></span>
            </button>
            <button class="btn btn-default" type="button" title="Поиск по автору" id="search-by-author">
                <span class="glyphicon glyphicon-user"></span>
            </button>
        </div>
        <input type="text" class="form-control" placeholder="Поиск" name="search-input" value="{INDEX_SEARCHING_TEXT}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" name="search-start-btn">Искать!</button>
        </span>
    </div><!-- /input-group -->
</form>
<hr class="search-separator">
<script type="text/javascript">
    $("button#search-by-topic").on("click", function() {
       $("input#search-param").val("name");
       $("div#search-type-btns > button").removeClass("active");
       $(this).addClass("active");
    });
    $("button#search-by-author").on("click", function() {
        $("input#search-param").val("author");
        $("div#search-type-btns > button").removeClass("active");
        $(this).addClass("active");
    });
    $("button#search-by-quize").on("click", function() {
        $("input#search-param").val("quize");
        $("div#search-type-btns > button").removeClass("active");
        $(this).addClass("active");
    });

    {INDEX_SEARCHING_TYPE}
</script>