div.imager-background {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 3;
}

div.imager-body{
    position: relative;
    padding: 30px;
    padding-bottom: 60px;
    background: black;
    border-radius: 15px;
    z-index: 3;
}

.imager-buttons{
    float: right;
    background: black;
    height: 38px;
    padding: 10px;
}

p.imager-header{
    font-size: 14px;
}

@media(min-width: 320px){
    img#image{
        height: 170px;
        width: 263px;
    }

    div.imager-body{
        left: 0;
        top: 240px;
        width: 320px;
    }
}

@media(min-width: 360px){
    img#image{
        height: 170px;
        width: 300px;
    }

    div.imager-body{
        left: 0;
        top: 190px;
        width: 360px;
    }
}

@media(min-width: 375px){
    img#image{
        height: 270px;
        width: 316px;
    }

    div.imager-body{
        left: 0;
        top: 220px;
        width: 375px;
    }
}

@media(min-width: 414px){
    img#image{
        height: 225px;
        width:355px;
    }

    div.imager-body{
        left: 0;
        top: 175px;
        width: 414px;
    }
}

@media(min-width: 425px){
    img#image{
        height: 270px;
        width: 365px;
    }

    div.imager-body{
        left: 0;
        top: 220px;
        width: 45px;
    }
}

@media(min-width: 768px){
    img#image{
        height: 420px;
        width: 707px;
    }

    div.imager-body{
        left: 0;
        top: 170px;
        width: 768px;
    }
}

@media(min-width: 800px){
    img#image{
        height: 425px;
        width: 655px;
    }

    div.imager-body{
        left: 5%;
        top: 300px;
        width: 720px;
    }
}

@media(min-width: 1024px){
    img#image{
        height: 620px;
        width: 797px;
    }

    div.imager-body{
        left: 9%;
        top: 85px;
        width: 860px;
    }
}



@media(min-width: 1440px){
    img#image{
        height: 620px;
        width: 797px;
    }

    div.imager-body{
        left: 20%;
        top: 85px;
        width: 860px;
    }
}

@media(min-width: 1920px){
    img#image{
        height: 620px;
        width: 797px;
    }

    div.imager-body{
        left: 28%;
        top: 105px;
        width: 860px;
    }
}

@media(min-width: 2560px){
    img#image{
        height: 620px;
        width: 797px;
    }

    div.imager-body{
        left: 32%;
        top: 220px;
        width: 860px;
    }
}

.imager-buttons{
    float: right;
    background: black;
    height: 38px;
    padding: 10px;
}

.imager-btn {
    padding: 10px;
    background: black;
    color: white;
    border: none;
}

.imager-btn:hover{
    background: #eee;
    color: black;
    transition: 0.5s;
    text-decoration: none;
}