<div class="imager-background"  hidden>
    <div class="imager-body">
        <p class="header imager-header"><span class="glyphicons glyphicons-picture"></span> Просмотр изображения</p>
        <img class="imager-image" id="image" alt="Картинка была удалена.">
        <div class="imager-buttons">
            <a class="imager-btn" id="image_see_full">Открыть оригинал</a>
            <a class="imager-btn" id="image_save" download>Сохранить</a>
            <button class="imager-btn" id="imager_close" type="button">Закрыть</button>
        </div>
    </div>
</div>