html,
body {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

body{
    padding: 0;
    margin: 0;
    background: url("background.jpg") no-repeat;
    background-size: 100% 100%;
}

body > div > div.install-body {
    display: none;
}

div.install-steps-block{
    padding-top:25px;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    height: 100%;
}

div.active{
    display: block;
}

/*div.radio-btn*/

ul.radio-btn > li.active {
    padding: 7px;
    border: 3px solid #f1f1f1;
    border-radius: 7px;
    margin: 10px 0;
}

ul.radio-btn > li.unmaded {
    color: #9f9f9f;
}

ul.radio-btn > li.maded {
    color: #0e5424;
}

hr {
    background-color: white;
}

